<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_IService1" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="tcpEndpoint" maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
                <binding name="tcpEndpoint1" maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.99.126:8733/Design_Time_Addresses/WebApplication1/Service/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="RemoteServer.IService" name="RemoteHttpEndpoint" />
            <endpoint address="net.tcp://192.168.99.126:168/Test2/tcp" binding="netTcpBinding"
                bindingConfiguration="tcpEndpoint1" contract="RemoteServer.IService"
                name="RemoteTcpEndpoint" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WebApplication1/Service/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="LocalServer.IService" name="LocalHttpEndpoint" />
            <endpoint address="net.tcp://localhost:168/Test2/tcp" binding="netTcpBinding"
                bindingConfiguration="tcpEndpoint" contract="LocalServer.IService"
                name="LocalTcpEndpoint" />
        </client>
    </system.serviceModel>
</configuration>